#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eef3f4;
}

main {
  flex: 1 0 auto;
}
.clear{
  clear: both;
}

.image-file-upload {
  border-color: #007bff;
  display: inline-block;
  padding: 4%;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 2px;
}
input[type="file"] {
  display: none;
}
.profile-image-upload-border{
  border:0 !important;
}